.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.headImage {
  height: calc((40vh + 20vw));
  width: calc((40vh + 20vw));
}

.text {
  font-size: calc(5vh + 5vw);
  font-family: Impact, Charcoal, sans-serif;
  color: white;
}

.textHi {
  font-size: calc(7vh + 7vw);
  font-family: Impact, Charcoal, sans-serif;
  color: yellow;
}