.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111111;
  height: 100vh;
}

.headImage {
  height: calc((70vh + 30vw) / 2);
  width: calc((70vh + 30vw) / 2);
}

.text {
  text-align: right;
  font-size: calc(5vh + 5vw);
  font-family: Impact, Charcoal, sans-serif;
  color: white;
}

.textHi {
  text-align: right;
  font-size: calc(7vh + 7vw);
  font-family: Impact, Charcoal, sans-serif;
  color: yellow;
}

@media (max-width: 700px) {
  .home {
    flex-direction: column;
  }


}